<h1>OpenProject::MyPlugin::TimesheetEntries#new</h1>
<p>Find me in app/views/open_project/my_plugin/timesheet_entries/new.html.erb</p>
<%# openproject-my_plugin/app/views/open_project/my_plugin/timesheet_entries/new.html.erb %>

<h1>Log New Timesheet Entry</h1>
<%= render 'form' %>
